*{
    font-family: "Inter", sans-serif;
    scrollbar-width: none;
}

#slide{
    animation: slide 1s  1 ;
}

#move{
    animation: move 1s   1  ;
}

@keyframes slide{
    from{
        transform: translateY(50px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes move{
    from{
        transform: translateX(50px);
    }
    to{
        transform: translateX(0px);
    }
}


@media screen and (min-width:450px) and (max-width:640px){
    #banner{
        background-position: 0px 0px;
    }
}

